:root {
    --primary-normal: #F1CDB3;
    --primary-hover: #FDDCC4;
    --secondary-normal: #fff;
    --secondary-hover: #FDDCC4;
    --color-base: #fff;
    --color-section: #F6F6F6;
    --color-text: #000;
    --color-content: #292929;
    --button-normal: #fff;
    --button-hover: #FDDCC4;
    --button-inactive: rgba(205, 205, 205, 1);
    --button-active: #F1CDB3;
    --color-border: #F1CDB3;
    --background: #5C5C5C;
    --header-bg: linear-gradient(100deg, #504034, #473931, #3e322e, #312a29, #272424);
    --start-bg: linear-gradient(100deg, #504034, #463831, #3b302d, #2f2928, #232222);
    --footer-bg: linear-gradient(111deg, #3e3027, #3e2f2e, #3a2f33, #343035, #313133);
    --link-color: #CDCDCD;
    --link-hover: #FAFAFA;
    --title-color: #545454;
    --text-dark: #4C4C4C;
    --text-light: #B2B2B2;
}

/* Обнуление */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Обнуление */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: var(--color-base);
}

/* Header */

.header-wrapper {
    background: var(--header-bg);
    width: 100%;
}

.header-container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 60px 40px 0 40px;
    margin: 0 auto;
}

.header-nav {
    margin-left: auto;
    padding-top: 4px;
}

.header-nav__list {
    display: flex;
    gap: 34px;
    justify-content: flex-end;
}

.header-nav__item {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    font-family: 'Arial';
    letter-spacing: 0.15px;
}

.header-nav__link {
    color: var(--link-color);
    transition: 0.5s;
    position: relative;
}

.header-nav__link:hover {
    color: var(--link-hover);
}

.header-nav__link::after {
    position: absolute;
    content: "";
    bottom: -6px;
    left: 0;
    right: 0;
    width: 0;
    border-bottom: 3px solid var(--primary-normal);
    transition: 0.3s ease-in;
}

.header-nav__link:hover.header-nav__link::after {
    width: 100%;
}

.header-nav__link.active {
    color: var(--link-hover);
}

.header-nav__link.active::after {
    position: absolute;
    content: "";
    bottom: -6px;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 3px solid var(--primary-normal);
}

.header-logo {
    height: 60px;
    width: 184px;
    cursor: pointer;
}

.page-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.header-logo__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 1.75px;
    color: var(--primary-normal);
    transition: 0.3s ease-in-out;
}

.header-logo__text {
    position: relative;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: var(--color-base);
    transition: 0.3s;
}

.header-logo__text::after {
    position: absolute;
    content: "";
    bottom: -6px;
    left: 0;
    right: 0;
    width: 0;
    border-bottom: 3px solid var(--primary-normal);
    transition: 0.3s ease-in;
}

.header-logo:hover h1 {
    color: var(--primary-hover);
}

.header-logo:hover p {
    color: var(--link-hover);
}

.header-logo:hover p::after {
    width: 100%;
}

/* Header */

/* Start Screen */
.hero-wrapper {
    background: var(--start-bg);
    width: 100%;
}

.hero-container {
    margin: 0 auto;
    max-width: 1280px;
    height: 788px;
    display: flex;
    justify-content: space-between;
    padding: 60px 40px 0 40px;
}

.hero-block__image {
    width: 698px;
    height: 728px;
}

.hero-block {
    height: 322px;
    max-width: 460px;
    margin-top: 165px;
}

.hero-block__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;
    width: 310px;
    color: var(--color-base);
}

.hero-block__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--link-color);
    margin: 42px 0;
}

.button {
    background: var(--primary-normal);
    border-radius: 100px;
    height: 52px;
    width: 207px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 40px;
    letter-spacing: 0.06em;
    color: var(--color-content);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 280px;
    cursor: pointer;
    border: 0;
    transition: 0.6s;

}

.button:hover {
    background: var(--primary-hover);
    color: var(--color-content);
}

/* Start Screen */

/* About shelter */
.about-wrapper {
    width: 100%;
}

.about-container {
    margin: 0 auto;
    max-width: 1280px;
    height: 588px;
    padding: 80px 40px 100px 40px;
}

.about-block {
    display: flex;
    justify-content: space-between;
    padding: 0 175px;
}

.about-block__image {
    width: 300px;
    height: 408px;
}

.about-block__content {
    margin: 14px 0;
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.about-block__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    width: 370px;
    color: var(--title-color);
}

.about-block__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--text-dark);
}

/* About shelter */

/* Pets */
.pets-wrapper {
    width: 100%;
    background-color: var(--color-section);
}

.pets-container {
    margin: 0 auto;
    max-width: 1280px;
    height: 877px;
    padding: 80px 40px 100px 40px;
}

.pets-block {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.pets-block__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--title-color);
    width: 400px;
}

.pets-block__slider {
    display: flex;
    align-items: center;
    height: 435px;
}

.sub-button {
    display: block;
    width: 52px;
    height: 52px;
    background: transparent;
    border: 2px solid var(--primary-normal);
    border-radius: 100px;
    margin: 0 8px;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-button:hover {
    background: var(--primary-hover);
    border: 2px solid var(--primary-hover);
}

.sub-button.inactive {
    background: var(--color-base);
    border: 2px solid var(--link-color);
}

.sub-button.active {
    background: var(--primary-normal);
    border: 2px solid var(--primary-normal);
}

.pets-card {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 45px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.pets-card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-card:hover .secondary-btn {
    background: var(--secondary-hover);
    border: 2px solid var(--secondary-hover);
}

.pets-card__name {
    margin: 30px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.secondary-btn {
    margin-right: 0;
    background: var(--secondary-normal);
    border: 2px solid var(--primary-normal);
    box-sizing: border-box;
    border-radius: 100px;
    width: 187px;
}

.secondary-btn:hover {
    background: var(--secondary-hover);
    border: 2px solid var(--secondary-hover);
}

.pets-block__button {
    width: 261px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-content);
    margin-right: 0;
}

/* Pets */

/* Help*/
.help-wrapper {
    width: 100%;
}

.help-container {
    margin: 0 auto;
    max-width: 1280px;
    height: 611px;
    padding: 80px 40px 100px 40px;
}

.help-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-block__title {
    margin: 0 446px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    width: 310px;
    color: var(--title-color);
}

.help-block__slider {
    margin: 0 87px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 119px;
    justify-content: center;
}

.help-item {
    margin-top: 55px;
    text-align: center;
}

.help-item__subtitle {
    margin-top: 30px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.hhelp-item__icon {
    height: 60px;
    width: 60px;
}

/* Help*/

/* Donate */
.donation-wrapper {
    width: 100%;
    background-color: var(--color-section);
}

.donation-container {
    margin: 0 auto;
    max-width: 1280px;
    height: 462px;
    padding: 80px 182px 100px 183px;
}

.donation-block {
    display: flex;
}

.donation-block__image {
    margin: 11px 30px 10px 0;
}

.donation-content__title {
    width: 300px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.donation-content__subtitle {
    margin: 20px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.donation-content__link {
    margin: 20px 0;
    height: 43px;
    width: 350px;
    border-radius: 9px;
    background: var(--primary-normal);
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: 0.4s ease-in;
}

.donation-content__number {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-left: 15px;
}

.donation-content__link:hover {
    background: var(--primary-hover);
}

.donation-block__text {
    width: 380px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: var(--text-light);
}

/* Donate */

/* Footer */

.footer-wrapper {
    background: var(--footer-bg);
    height: 350px;
    width: 100%;
}

.footer-container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 40px 40px 0 40px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
}

.footer-contacts {
    margin: 16px 159px 40px 0;
}

.footer-contacts__title {
    width: 280px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: var(--color-base);
}

.footer-contacts__link {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.footer-contacts__link:hover {
    filter: invert(0%) sepia(5%) saturate(4%) hue-rotate(305deg) brightness(108%) contrast(96%);
}

.adress {
    margin-top: 33px;
}

.footer-contacts__subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--primary-normal);
}

/* Footer */